
#logo{
    box-sizing: border-box;

}

#atendimento p, #produtos p{
    text-indent: 25px;

}

#home{
    background: #0d6efd;
    color: white;
    padding-top: 75px;
}

.box-horizontal-100{
    padding: 75px 0;
    
}

hr{
    width: 80%;
    border-bottom: 2px solid rgba( 10, 10, 10, .75);
}


hr.linha{
    width: 75%;
    border-bottom: 2px solid #0d6efd;
    margin-bottom: 30px;
    opacity: .75;

}


#diferenciais{
    padding: 50px 0 25px;
    margin-bottom: 100px;
    color: white;

}


#diferenciais p{
    font-size: .93em;
    margin-bottom: 100px;

}


.imagem-diferenciais{
    height: 250px;
}


#imagem-diferenciais-01{
    height: 100%;
    background: url("img/tosa.png") no-repeat center center;
    background-size: contain;

}

#imagem-diferenciais-02{
    height: 100%;
    background: url("img/petfriend.png") no-repeat center center;
    background-size: contain;

}

#imagem-diferenciais-03{
    height: 100%;
    background: url("img/banho.png") no-repeat center center;
    background-size: contain;

}


p{
    text-align: justify;

}


footer{
    -webkit-background: linear-gradient(to top, #101010, #303030);
    -moz-background: linear-gradient(to top, #101010, #303030);
    -o-background: linear-gradient(to top, #101010, #303030);
    background: linear-gradient(to top, #101010, #303030);
    color: white;

}


footer a{
    color: white;
}